<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        testdox="true"
        colors="true"
        columns="40"
        stopOnDefect="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnWarning="false"
        stopOnRisky="false"
        stopOnDeprecation="false"
        stopOnNotice="false"
        >
    <testsuites>
        <!-- <testsuite name="omnisuite">
            <directory>tests</directory>
        </testsuite> -->
        <testsuite name="termparser">
            <file>tests/TermParserTest.php</file>
        </testsuite>
        <testsuite name="etymology">
            <file>tests/EtymologyTest.php</file>
        </testsuite>
        <testsuite name="example">
            <file>tests/ExampleTest.php</file>
        </testsuite>
        <testsuite name="entry">
            <file>tests/EntryTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
